.main-container {
    width: 85vw;
    margin: 0 auto;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.post {
    border: 2px solid #fcd4cd;
    border-radius: 15px;
    padding: 15px;
    text-transform: unset;
    background: #faece9;
}

.post h2 {
    font-size: 18px;
}

.user-id {
    padding: 10px 0px;
    color: #3e3e3f;
}